spring:
  application:
    name: Okos Orarend

  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/orarend
    username: root
    password: admin

  mail:
    host: smtp.gmail.com
    port: 587
    username: orarendalkalmazasszakdolgozat@gmail.com
    password: ekly xcrj kdzo kqab
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8081

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.mail: DEBUG

app:
  upload-dir: uploads
